<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>Google Sign In</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.664667458806-11imd5a3q3elgt31nadvs6g67eiapfco</string>
            </array>
        </dict>
    </array>
    <key>GIDClientID</key>
    <string>664667458806-11imd5a3q3elgt31nadvs6g67eiapfco.apps.googleusercontent.com</string>
    <key>com.apple.developer.in-app-payments</key>
    <string>merchant.com.bohem.store</string>
</dict>
</plist>
